In [2]:
# 1. Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla
poblacion1 = 200
print(poblacion1)

200

In [3]:
# 2. Imprimir el tipo de dato de la constante 8.5
mi_variable = 8.5
type(mi_variable)

float

In [4]:
# 3. Imprimir el tipo de dato de la variable creada en el punto 1

type(poblacion1)

int

In [8]:
# 4. Crear una variable que contenga tu nombre
mi_nombre = 'oscar buitrago'

In [10]:
# 5. Crear una variable que contenga un número complejo
numero_complejo = 5 + 5j

In [11]:
# 6. Mostrar el tipo de dato de la variable crada en el punto 5
type(numero_complejo)

complex

In [14]:
# 7. Crear una variable que contenga el valor del número Pi redondeado a 4 decimales
pi= 3.1416

In [22]:
# 8. Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?
a = 'True'    
b = True

# no es lo mismo, 'True' corresponde a un string y True corresponde a un a un valor booleano

In [24]:
# 9. Imprimir el tipo de dato correspondiente a las variables creadas en el punto 8
type(a) , type(b)

(str, bool)

In [25]:
# 10. Asignar una variable, la suma de un numero entero y otro decimal
var1 = 10 + 10.5

In [28]:
# 11. Realizar una operacion de suma de numeros complejos
n_comp1= 20j
n_comp2= 10j
print (n_comp1 + n_comp2)

30j

In [29]:
# 12. Realizar una operacion de suma de un numero real y otro complejo
n_real = 12.5
n_comp3 = 15j
print(n_real + n_comp3)

(12.5+15j)

In [33]:
# 13. Realizar una operacion de multiplicacion
prom_venta = 60
mes = 3
print(prom_venta * mes)

180

In [38]:
# 14. Mostrar el resultado de elevar 2 a la octava potencia
c = 2**8
print(c)

256

In [44]:
# 15. Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla
coc = 27/4
print(coc)

6.75

In [45]:
# 16. De la division anterior solamente mostrar la parte entera
coc = 27 // 4
print (coc)

6

In [43]:
# 17. De la division de 27 entre 4 mostrar solamente el resto
r = 27%4
print(r)

3

In [48]:
# 18. Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado
x = 6
y = 4
z = 3
print (x * y + z)

27

In [52]:
# 19. Usando el operador "+" en una operación donde intervienen solo variables alfanuméricas
nom1 = 'ana '
nom2 = 'maria'
print (nom1 + nom2)

ana maria

In [60]:
# 20. Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?
"2" == 2
# no es la mismo, por que "2" es un dato tipo string por que esta encerrado entre comillas y 2 es un dato tipo numero entero

False

In [61]:
# 21. Usando las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera
print (int("2") == 2)

True

In [62]:
# 22. ¿Por qué arroja error el siguiente cambio de tipo de datos? a = flotar('3,8')

num3 = float('3.8')
type(num3)

# porque la funcion esta mal escrita, la forma correcta es float()

float

In [69]:
# 23. Cree una variable con el valor 3, y utilice el operador '-=' para modificar su contenido
a = 3
a -= 1
print(a)

2

In [3]:
# 24. Realizar la operación 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binaria?

1 << 2

# el sistema binario es un sistema utilizado para representar numeros decimales, el sistema binario es de base 2, lo cual quiere decir que dispone solo de dos numeros para representar cantidades.
# el simbolo <<,  es el operador shift, a nivel de bits de desplazamiento a la izquierda y en este caso me deplaza el 1 dos cifras a la izquierda, en numero binario equivale a 100 y en numero decimal equivale a 4.

4

In [71]:
# 25. Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?
2 + '2' 

# no es permitido ejecutar la accion por que los datos no son del mismo tipo, el uno es tipo entero y el otro es tipo string, hay que realizar cambio de tipo de datos para cada una de las operaciones.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [76]:
float(2) + float('2')

4.0

In [77]:
int(2) + int('2')

4

In [78]:
str(2) + str('2')

'22'

In [1]:
# 26. Realizar una operación válida entre valores de tipo entero y string
a = 2
b = '2'

a + (int('2'))

4